/*------------- COLORS ------------*/
$primary: #1698d9;
$primary-hover: #2ea8e6;
$secondary: #d91667;
$secondary-hover: #e62e7a;
$text-primary: #666666;
$text-secondary: #ffffff;
$heading: #000000;
$product-bg: #f2f2f2;
$disabled: #b3b3b3;

/*------------ FONTS -------------*/
$font-primary: "Trebuchet MS", sans-serif;
$font-secondary: "Exo2", serif;

/*--------- TRANSITIONS ----------*/
$transition-fast: .2s;

/*----------- DEVICES ------------*/
$laptop: 1350px;
$tablet: 992px;
$phone: 576px;
